.select:hover {
  background-color: #fafafa;
  color: #000;
  cursor: pointer;
}

.select svg {
    color: #444;
}

@media screen and (max-width: 1200px) {
    .chatContainer {
        width: 800px;
        margin-left: 260px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .chatContainer {
        width: 900px;
        margin-left: 310px;
    }
}

@media screen and (min-width: 1401px) {
    .chatContainer {
        width: 1100px;
        margin-left: 290px;
    }
}